# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
docs/.vitepress/dist/
/npm-debug.log*
/yarn-error.log
/yarn.lock

# production
/dist
deploy_versions/
project/**
!project/.keep

# misc
.DS_Store

# ide
.idea
/**/.idea

# other
.temp/
.rn_temp/
src/.tmp/
/.history
